# ignore pycache files
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*

# ignore vscode folder
.vscode/*

# ignore data folder
data/coco
data/coco/*
data/tmp/*
data/saved/checkpoint/*
!data/saved/checkpoint/.gitkeep
data/saved/result/*
!data/saved/result/.gitkeep
